version: '3.1'

services:
  rabbitmq:
    image: "rabbitmq:3.7.14-alpine"
    ports:
      - "5673:5672"
  producer:
    build: ./producer
    command: ["npm", "run", "firstStart"]
    container_name: mobility_producer
    ports:
      - "3000:3000"
    volumes:
      - ./producer:/api
      - /producer/node_modules
    depends_on:
      - rabbitmq

  zookeeper:
    image: zookeeper
    container_name: zookeeper
    restart: always

  nimbus:
    image: storm
    container_name: nimbus
    command: storm nimbus
    depends_on:
      - zookeeper
    links:
      - zookeeper
    restart: always
    ports:
      - "6627:6627"

  supervisor:
    image: storm
    container_name: supervisor
    command: storm supervisor
    depends_on:
      - nimbus
      - zookeeper
    links:
      - nimbus
      - zookeeper
    restart: always
networks:
  default: